<div class="comment" style="margin-left: 50px;">
  <div class="avatar">
    <img src="https://www.grafikart.fr/uploads/avatars/110/109584.jpg">
  </div>
  <div class="right">
    <div class="author">
      <%= reply.username %>
    </div>
    <div class="content">
      <%= reply.content %>
    </div>
  </div>
</div>