<div class="row">
  <div class="col-sm-6">
    <h2><%= @user.username %></h2>
  </div>
  <div class="col-sm-6">
    <h4>Article que <%= @user.username %> aime</h4>
    <ul class="list">
      <% @user.likes.each do |like| %>
          <li><%= link_to like.post.title, article_path(like.post) %></li>
      <% end %>
    </ul>
  </div>
</div>