<div class="row">
  <div class="col-sm-6">
    <h2>Dernier article aimer</h2>
    <ul>
      <% @posts.each do |post| %>
          <% Like.where(post_id: post.id).each do |post_liked| %>
              <li><%= post_liked.post.title %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Derniers tutoriels</h2>
  </div>
</div>