<html>
  <head>
    <style>
      body {
        background: #ffffff;
      }
      .head {
        width: 600px;
        height: 400px;
        background: url("https://cms-assets.tutsplus.com/uploads/users/30/posts/25489/image/pac-404.png");
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="head"></div>
    <h2>La page demandée est introuvable</h2>
    <%= link_to 'Accueil', root_path %>
  </body>
</html>