<h2><%= @category.title %></h2>

<% @category.tutoriels.each do |post| %>
    <article class="tutoriel">
      <h2><%= post.title %></h2>
      <a href="<%= show_tuto_path(@category.slug, post.slug) %>">Lire la suite</a>
    </article>
<% end %>